<%- include('header') -%>

    <div class="bgr-view"></div>

    <main>
        <div class="title-box">
            <h1 class="title">Todo</h1>
            <button class="toggle-img-mode">
                <img src="images/icon-sun.svg" alt="">
            </button>
            
        </div>
        

        <!-- This is to Create a new task -->
        <form action="/" method="POST" class="item-box tasks-wrapper create-task">
            <button type="submit" name="checkbox" class="btn"></button>
            <input type="text" name="newItem" placeholder="Create a new todo..">
        </form>

        

        <!-- This is to display all items -->
        <div class="tasks-wrapper" >
            
            <% taskArray.forEach(function(task){    %>

                <div class="item-box">

                    <form action="/taskCompleted" method="POST" >
                        <input type="hidden" name="status" value="<%= task.status %>">
                        <button class="btn" type="submit" name="checkbox" value="<%= task._id %>">
                            <img src="" alt="">
                        </button>
                        <p> <%= task.name %></p>
                    </form>

                    <form action="/deleteTask" method="POST">
                        <button class="deleteBtn" type="submit" name="deleteBox" value="<%= task._id %>">
                            
                        </button>
                    </form>
                </div>
                
            <% });    %>


            <div class="tasks-bottom">
                <p> <%= taskArray.length %> items left </p>
                <button>Clear Completed</button>
            </div>
            
        </div>
        
        <div id="menu" class="tasks-wrapper">
            <a href="/">All</a>
            <a href="/active">Active</a> 
            <a href="/completed">Completed</a>    
        </div>
        
        <p>Drag and drop to reorder list</p>

    </main>







  

  

  

<%- include('footer') -%>