<%- include('header') -%>

    <div class="bgr-view"></div>

    <main>
        <div class="title-box">
            <h1 class="title">Todo</h1>
            <button class="toggle-img-mode">
                <img src="images/icon-sun.svg" alt="">
            </button>
            
        </div>
        

        <!-- This is to Create a new task -->
        <form action="/" method="POST" class="item-box tasks-wrapper">
            <input type="checkbox" name="checkbox" onchange="this.form.submit()">
            <input type="text" name="newItem">
        </form>

        

        <!-- This is to display all items -->
        <div class="tasks-wrapper" >
            
            <% taskArray.forEach(function(task){    %>
                <div>

                    <form action="/delete" method="POST" class="item-box">
                        <input type="checkbox" name="checkbox" value="<%= task._id %>" onchange="this.form.submit()">
                        <p> <%= task.name %></p>
                    </form>

                    <button>
                        <img src="images/icon-cross.svg" alt="">
                    </button>
                    
                </div>
                
                
            <% });    %>


            <div class="tasks-bottom">
                <p> <%= taskArray.length %> items left </p>
                <button>Clear Completed</button>
            </div>
            
        </div>

        <div class="tasks-wrapper">
            <p>All</p>
            <p>Active</p> 
            <p>Completed</p>    
        </div>
    
        <p>Drag and drop to reorder list</p>

    </main>







  

  

  

<%- include('footer') -%>